[submodule "classes/wp-components"]
	path = classes/wp-components
	url = ../wp-components.git
[submodule "classes/wp-register"]
	path = classes/wp-register
	url = ../wp-register
[submodule "classes/wp-enqueue"]
	path = classes/wp-enqueue
	url = ../wp-enqueue
[submodule "classes/wp-router"]
	path = classes/wp-router
	url = ../wp-router.git
[submodule "classes/wp-custom-fields"]
	path = classes/wp-custom-fields
	url = ../wp-custom-fields.git
[submodule "classes/wp-updater"]
	path = classes/wp-updater
	url = https://github.com/makeitworkpress/wp-updater.git
