// main: waterfall.less

/**
 * Styling Rules for content types
 */

/* Content Wrappers
----------------------*/
.main {
    overflow: hidden;
}

/* General
----------------------*/

.main-header, .main-content, .main-related, .main-footer {
    padding: @grid-space;
    @media screen and (max-width: 767px) {
        padding: @grid-space @grid-space/2;   
    }
}

/* Header Section 
----------------------*/
.main-header {
    padding-top: @grid-space*2;
    &.components-image-background {
        padding-top: @grid-space;
    }
    overflow: hidden;
    h1 {
        margin: 0;
    }
    .description {
        font-size: 24px;
    }
    .atom-breadcrumbs {
        font-size: @small-fontsize;
    }
    &.components-center-align .atom-image {
        margin: @grid-space/2 -50%;
    }
    .atom-image {
        margin: @grid-space/2 0;
        img {
            display: inline-block;
        }
    }
    .atom-author {
        padding: @grid-space/2 0;
        h4 {
            font-size: 1em;
            line-height: @grid-space * 2;
        }
    }
    .waterfall-content-header-overlay & {
        &:after {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
        }
        > * {
            position: relative;
            z-index: 1;
        }
    }
    .atom-button:not(.wfr-price-button) {
        display: block;
        margin-bottom: @grid-space;
        max-width: 256px;
        text-align: center;
    }
    &.components-image-background {
        color: @white;
        h1, h2, h3, h4, h5, h6, a, a:hover {
            color: @white;
        }
        ~ .main-content {
            padding-top: @grid-space*2;
        }
    }
}

.entry-meta, .entry-time {
    color: @grey;
    font-size: @small-fontsize;
    display: inline-block;
    margin-right: @grid-space/4;
    text-transform: uppercase;
    vertical-align: top;
    i {
        color: @dark-grey;
    }
    a {
        color: @grey;
        &:hover {
            color: @dark-grey;
        }
    }
}

/* Main Content Section
----------------------*/
.content {
    ul {
        list-style: disc;
        padding: 0 0 1.5em 1.5em;
    }
    ol {
        list-style: decimal;
        padding: 0 0 1.5em 1.5em;
    }
    img {
        margin-bottom: 1.5em;
    }
    .wp-caption {
        margin-bottom: 1.5em;
        max-width: 100%;
        img {
            margin-bottom: 0.5em;
        }
    }
    video, embed {
        height: auto;
        max-width: 100%;
    }
    iframe {
        max-width: 100%;
    }
}

.readable-content {
    p, h3, h4, h5, h6, ol, ul, pre, code, ins, mark, cite, em, b, strong, i {
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }  
}

/* Sidebars */
.waterfall-left-sidebar, .waterfall-right-sidebar {
    .main-content, .main-content > .components-container { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content {
        flex-grow: 1;
        width: 74%;
    }
    .sidebar {
        padding: 0 0 0 @grid-space;
        width: 26%;
    }
    @media screen and (max-width: 768px) {
        .content, .sidebar {
            width: 100%;
        }
        .sidebar {
            margin-top: @grid-space;
        }
        /* The WooCommerce sidebar is on always on top */
        &.woocommerce {
            .content {
                order: 1;
            }
            .sidebar {
                order: 0;
                margin: 0 0 @grid-space 0;
            }
        }
    }
}

.waterfall-left-sidebar {
    .content {
        order: 1;   
    }    
    .sidebar {
        order: 0; 
        padding: 0 @grid-space 0 0;
    }
    @media screen and (max-width: 768px) {
        .content, .sidebar {
            order: 0;
        }
    }    
}

.widget {
    padding-bottom: @grid-space;
    &:last-child {
        padding-bottom: 0;
    }
}

/* Related Section 
----------------------*/
.main-related {
    .molecule-posts-grid .has-post-thumbnail {
        .molecule-post-content {
            background: linear-gradient(to top, #000, rgba(0,0,0,0));    
        }
        .atom-button {
            background: none;
            border: 2px solid @white;
            color: @white;
        }         
    }
    .molecule-post-content {
        bottom: 0;
        top: inherit;
        .atom-button {
            background: none;
            border: 2px solid @flat-blue;
            float: right;
            &:hover {
                background: @flat-blue;
                border-color: @flat-blue;
                color: @white;
            }            
        }        
    }
    .atom-pagination-post {
        a {
            font-size: 1.5rem;
            line-height: @heading-lineheight;
        }
        a[rel="prev"]:hover {
            transform: translate(@grid-space/4, 0);
        }
        a[rel="next"]:last-child:hover {
            transform: translate(-@grid-space/4, 0);    
        }       
        span {
            color: @grey;
            font-size: 1rem;
        }
    }
}

/* Footer Section 
----------------------*/
.atom-comments {
    max-width: 768px;
    padding: @grid-space 0;
    .avatar {
        border-radius: 50%;
    }
}

.atom-share {
    margin: @grid-space/2 0;
    &.atom-share-fixed {
        margin: 0;
    }
}

.main-footer, .main-header {
    .atom-author {
        display: flex;
        max-width: 768px;
        padding: @grid-space/2 0;   
        .avatar {
            min-width: 100px;
        }
    }
    @media screen and (max-width: 479px) {
        .atom-author {
            flex-wrap: wrap;
        }
        .atom-author-avatar {
            float: none;
            margin-bottom: @grid-space/2;
            text-align: center;
            width: 100%;
            img {
                display: inline-block;    
            }
        }
    }
}