/**
 * Styling Rules for content types
 */

/* Content Wrappers
----------------------*/
.content {
    overflow: hidden;
}

.molecule-header-fixed ~ .content {
    padding-top: 80px;
}

.molecule-header-transparent ~ .content {
    padding-top: 0;
}

/* General
----------------------*/
.entry-header {
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    .description {
        font-size: 24px;
    }
}