/**
 * Global Style Rules
 * Determines reusable classes and general styling
 */


/* Reusable classes & Modifiers 
----------------------*/
.left {
    float: left;
}

.right {
    float: right;
}

.padding {
    padding: @grid-space;
}

.padding-vertical {
    padding: @grid-space 0;
}

.padding-horizontal {
    padding: 0 @grid-space;
}

.hidden {
    visiblity: hidden;
}

.none {
    display: none;
}

/* Image Styling
----------------------*/
img {
    display: block;
    height: auto;
    max-width: 100%;
    &.alignright {
        float: right; 
        margin: 0 0 1em 1em;
    }
    &.alignleft {
        float: left; 
        margin: 0 1em 1em 0;
    }
    &.aligncenter {
        display: block; 
        margin: 0 auto;
    }
}

/* Input and Forms
------------------------------*/
input, textarea, select {
    border: 1px solid @f-grey;
    border-radius: @radius;
    line-height: @grid-space;
    margin: 0;
    padding: @grid-space/4 @grid-space/2;
    width: 100%;
    &:focus {
        border: 1px solid @grey;
        outline: none;
    }
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 @grid-space/4 0 0;
    width: auto;
}

input[type="submit"], input[type="submit"].button {
    background-color: @flat-red;
    border-radius: @radius;
    border: none;
    width: auto;
}