/**
 * Grid Less
 */

/* Main Container
------------------------*/
.container {
    margin: 0 auto;
    padding: @grid-space;
    position: relative;
    width: 1280px;
    @media only screen and (max-width: 1280px) {
         width: 1140px;    
    }
    @media only screen and (max-width: 1140px) {
         width: 1024px;    
    }    
    @media only screen and (max-width: 1024px) {
         width: 768px;    
    }
    @media only screen and (max-width: 768px) {
         width: 640px;    
    } 
    @media only screen and (max-width: 640px) {
         width: 480px;    
    } 
    @media only screen and (max-width: 480px) {
         width: 320px;    
    }     
}

/* Basic 12-columns grid 
------------------------*/
.grid-columns(@n, @i: 1) when (@i =< @n) {
  .grid-col-@{i} {
    width: (@i * 100% / @n);
  }
  .grid-columns(@n, (@i + 1));
}
.grid-columns(12);

/* Responsive Grids */
@media only screen and (max-width: 1024px) {
    .grid-col-7, .grid-col-8, .grid-col-9, .grid-col-10, .grid-col-11 {
         width: 100%;
     }
    .grid-col-1, .grid-col-2, .grid-col-3, .grid-col-4, .grid-col-45, .grid-col-5, .grid-col-6 {
        width: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .grid-col-4, .grid-col-45, .grid-col-5, .grid-col-6 {
        width: 100%;
    }   
} 
@media only screen and (max-width: 480px) {
    .grid-col-1, .grid-col-2, .grid-col-3 {
        width: 100%;
    }   
}

.grid-col-45 {
    width: 37.5%;
}

/* Grid Helpers 
------------------------*/

/* Grid Padding */
.grid-row {
    margin: 0 -@grid-space;
}
.grid-item {
    float: left;
    padding: @grid-space;
}

/* Equal Columns */
.equal-grid-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Clearfixes */
.clear, .container, .grid-row {
	&:before,
	&:after {
		content: " "; 
		display: table; 
	}
 
	&:after {
		clear: both;
	}
}