/**
 * Styling Rules for the Header
 */ 

/* Main Header Styling 
------------------------*/
.header {
    border-bottom: 1px solid @f-grey;
    top: inherit;
    .atom-logo {
        margin: @grid-space/4 0;
        img {
            max-height: @grid-space * 2;
            width: auto;
        }
    }
    .atom-menu, .atom-social, .atom-search {
        height: @grid-space*2;
        margin: @grid-space/4 0;    
    }    
    .atom-menu > ul > li > a {
        line-height: @grid-space * 2;
    } 
    .atom-social {
        padding: @grid-space/2 0;
    }
    .atom-menu-hamburger {
        margin: 17px 4px;
    }
    .atom-search-expanded {
        background: #fff;
        bottom: 0;
        padding: 0 @grid-space;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 999;
    }
    .atom-search-results {
        h4 {
            font-size: 1em;
            font-weight: normal;
        }
        .atom-type {
            color: @grey;
            font-size: 0.8em;
        }
    }
}

.molecule-header-top.molecule-header-transparent {
    .menu > li > a, .atom-search-expand {
        color: #fff;
    }
}