// main: waterfall.less

/**
 * Basic layout classes
 */
.waterfall-boxed-layout {
    .header, .main, .footer {
        margin: 0 auto;
        max-width: 1440px;
    }
    .molecule-header-fixed, .molecule-header-transparent {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.waterfall-fullwidth-content {
    .main-content, .main-header.components-image-background ~ .main-content {
        padding: 0;
    }
}

/**
 * Prevents a wider than screen width body on smaller screen sizes, which results in a horizontal scrollbar and unwanted behaviour on mobile devices.
 */
.wrapper {
    overflow: hidden;
}