/**
 * Basic layout classes
 */
.waterfall-boxed-layout {
    .header, .content, .footer {
        margin: 0 auto;
        max-width: 1280px;
    }
    .molecule-header-fixed {
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 1280px;
    }
}

.molecule-header-top, .molecule-header-primary, .molecule-header-footer,  
.molecule-footer-sidebars, .molecule-footer-socket {
    padding: 0 @grid-space;
}