/**
 * Styling Rules for Typography
 */

/* Main Fonts 
--------------------*/
body {
    color: @dark-grey;
    font: @body-fontsize/@body-lineheight Helvetica, Arial, sans-serif;  
}

/* Headings 
--------------------*/

/* Heading Sizes */
h1, h2, h3, h4, h5, h6 {
    color: @dark-blue;
    font-family: Helvetica, Arial, sans-serif;   
    line-height: @heading-lineheight;
    margin: 0 0 0.5rem 0;
    @media screen and (max-width: 480px) {
        word-wrap: break-word;    
    }
}

h1 {
    font-size: @heading-fontsize;
    letter-spacing: @letterspacing-dense;
    line-height: @heading-lineheight-dense;
    @media screen and (max-width: 1024px) {
        font-size: @heading-fontsize/1.2;
    }
    @media screen and (max-width: 768px) {
        font-size: @heading-fontsize/1.5;
    }    
}

h2 {
    font-size: @heading-fontsize/1.3;
    line-height: @heading-lineheight-dense;
    @media screen and (max-width: 1024px) {
        font-size: @heading-fontsize/1.5;
    }
    @media screen and (max-width: 768px) {
        font-size: @heading-fontsize/1.8;
    }    
}

h3 {
    font-size: @heading-fontsize/1.7;
    @media screen and (max-width: 1024px) {
        font-size: @heading-fontsize/2;
    }
    @media screen and (max-width: 768px) {
        font-size: @heading-fontsize/2.2;
    }      
}


h4 {
    font-size: @heading-fontsize/3;
}

h5, h6 {
    font-size: @heading-fontsize/4;
}

/* General Elements
----------------------*/
a {
    color: @flat-blue;
    text-decoration: none;
    transition: all 350ms ease-out;
    &:hover {
        color: lighten(@flat-blue, 20%);
    }
}

p {
    margin: 0 0 1.5rem 0;           
}

blockquote {
    font-size: 1.25em;
    margin: 1em 0;
    line-height: @heading-lineheight;
    padding: 1.5em 0;
    &:before, &:after {
        content: none;
    }    
    p {
        font-size: 1.25em;
        line-height: @heading-lineheight;
        margin: 0;
        max-width: 100%;       
    }
}

code {
    background: @f-grey;
    overflow-x: scroll;
    padding: @grid-space;
}

label {
    font-weight: bold;
}